@model PinoyGigMarket.Models.ProjectViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="card-body col-md-4">
    <form asp-action="EditGig" method="post">
        <input type="hidden" asp-for="ProjectId" />
        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Desc"></label>
            <textarea asp-for="Desc" class="form-control"></textarea>
            <span asp-validation-for="Desc" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Location"></label>
            <input asp-for="Location" class="form-control" />
            <span asp-validation-for="Location" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <button type="button" class="btn btn-secondary" id="cancel-edit-gig">Cancel</button>
    </form>
</div>
