@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (User.Identity.IsAuthenticated)
{
    var user = await UserManager.GetUserAsync(User);


        @if (user != null)
        {
        <span>@($"{user.FirstName} {user.LastName}")</span>
        }

}

