@using Microsoft.AspNetCore.Identity
@using PinoyGigMarket.Models
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> userManager

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    <div class="navbar-nav ml-auto">
        @user.FirstName @user.LastName
    </div>
}
else
{

}
