@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (User.Identity.IsAuthenticated)
{
    var user = await UserManager.GetUserAsync(User);
  

    <div class="photo">
        <img class="avatar border-gray" src="@user.ProfilePicturePath" alt="Profile Pic">
    </div>
}
