@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Messages</h4>
                </div>
                <div class="card-body">
                    <div>
                        This feature coming soon...
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>