@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<PinoyGigMarket.Models.Message>

@{
}


<h2>Sent Messages</h2>

<table class="table">
    <thead>
        <tr>
            <th>To</th>
            <th>Content</th>
            <th>Sent At</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var message in Model)
        {
            <tr>
                <td>@($"{message.Receiver.FirstName} {message.Receiver.LastName}")</td>
                <td>@message.Content</td>
                <td>@message.SentAt.ToString("g")</td>
                <td>
                    <a href="@Url.Action("Details", new { id = message.MessageId })">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

