@model PinoyGigMarket.Models.RegisterViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="/images//apple-icon.png">
    <link rel="icon" type="image/png" href="/images//favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Pinoy Gig Market
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <!-- CSS Files -->
    <link href="@Url.Content("~/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/paper-dashboard.css?v=2.1.")" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/demo/demo.css" rel="stylesheet" />
</head>

<body class="register-page">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container">
            <div class="navbar-wrapper">
                <div class="navbar-toggle">
                    <button type="button" class="navbar-toggler">
                        <span class="navbar-toggler-bar bar1"></span>
                        <span class="navbar-toggler-bar bar2"></span>
                        <span class="navbar-toggler-bar bar3"></span>
                    </button>
                </div>
                <a class="navbar-brand" href="javascript:;">Pinoy Gig Market</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar navbar-kebab"></span>
                <span class="navbar-toggler-bar navbar-kebab"></span>
                <span class="navbar-toggler-bar navbar-kebab"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
                <ul class="navbar-nav">
                    
                    
                    <li class="nav-item ">
                        <a asp-controller="Account" asp-action="Login" class="nav-link">
                            <i class="nc-icon nc-tap-01"></i>
                            Login
                        </a>
                    </li>
                    
                    
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="wrapper wrapper-full-page ">
        <div class="full-page register-page section-image" filter-color="black" data-image="/images/bg/jan-sendereks.jpg">
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-5 ml-auto">
                            <div class="info-area info-horizontal mt-5">
                                <div class="icon icon-primary">
                                    <i class="nc-icon nc-single-02"></i>
                                </div>
                                <div class="description">
                                    <h5 class="info-title">Discover Talented Handymen</h5>
                                    <p class="description">
                                        <strong>Find Experts Across Various Trades:</strong> Connect with skilled plumbers, carpenters, electricians, and more to handle your home improvement and repair needs.
                                    </p>
                                </div>
                            </div>
                            <div class="info-area info-horizontal mt-5">
                                <div class="icon icon-primary">
                                    <i class="nc-icon nc-briefcase-24"></i>
                                </div>
                                <div class="description">
                                    <h5 class="info-title">Seamless Project Collaboration</h5>
                                    <p class="description">
                                        <strong>Efficient Collaboration Tools:</strong> Manage your handyman projects smoothly with integrated tools for real-time chat, and job tracking.
                                    </p>
                                </div>
                            </div>
                            <div class="info-area info-horizontal  mt-5">
                                <div class="icon icon-info">
                                    <i class="nc-icon nc-settings"></i>
                                </div>
                                <div class="description">
                                    <h5 class="info-title">Empower Your Skills</h5>
                                    <p class="description">
                                        <strong>Grow Your Freelance Career:</strong> Showcase your handyman skills, receive job offers, and access resources to enhance your expertise and build your reputation.
                                    </p>
                                </div>
                            </div>
                        </div>
                        </div>
                        <form id="RegisterValidation" asp-action="Register">
                            <div class="card ">
                                <div class="card-header ">
                                    <h4 class="card-title">Register Form</h4>
                                </div>
                                <div class="card-body ">
                                    <div class="form-group has-label">
                                        <label asp-for="FirstName">
                                            First Name
                                            *
                                        </label>
                                        <input asp-for="FirstName" class="form-control" required="true" />
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group has-label">
                                        <label asp-for="LastName">
                                            Last Name
                                            *
                                        </label>
                                        <input asp-for="LastName" class="form-control" required="true" />
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group has-label">
                                        <label asp-for="Phone">
                                            Phone
                                            *
                                        </label>
                                        <input asp-for="Phone" class="form-control" required="true" />
                                        <span asp-validation-for="Phone" class="text-danger"></span>
                                    </div>
                                    <div class="form-group has-label">
                                        <label asp-for="Email">
                                            Email Address
                                            *
                                        </label>
                                        <input asp-for="Email" class="form-control" type="email" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group has-label">
                                        <label asp-for="Password">
                                            Password
                                            *
                                        </label>
                                        <input asp-for="Password" class="form-control" id="registerPassword" type="password" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group has-label">
                                        <label asp-for="ConfirmPassword">
                                            Confirm Password
                                            *
                                        </label>
                                        <input asp-for="ConfirmPassword" class="form-control" id="registerPasswordConfirmation" type="password"  />
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <div class="category form-category">* Required fields</div>
                                </div>
                                <div class="card-footer text-right">

                                    <button type="submit" class="btn btn-primary">Register</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <footer class="footer footer-black  footer-white ">
                <div class="container-fluid">
                    <div class="row">
                        <div class="credits ml-auto">
                            <span class="copyright">
                                © <script>
                                      document.write(new Date().getFullYear())
                                </script>, made with <i class="fa fa-heart heart"></i> by Pinoy Gig Market
                            </span>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!--   Core JS Files   -->
    <script src="/js/core/jquery.min.js"></script>
    <script src="/js/core/popper.min.js"></script>
    <script src="/js/core/bootstrap.min.js"></script>
    <script src="/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="/js/plugins/moment.min.js"></script>
    <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
    <script src="/js/plugins/bootstrap-switch.js"></script>
    <!--  Plugin for Sweet Alert -->
    <script src="/js/plugins/sweetalert2.min.js"></script>
    <!-- Forms Validations Plugin -->
    <script src="/js/plugins/jquery.validate.min.js"></script>
    <!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
    <script src="/js/plugins/jquery.bootstrap-wizard.js"></script>
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="/js/plugins/bootstrap-selectpicker.js"></script>
    <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
    <script src="/js/plugins/bootstrap-datetimepicker.js"></script>
    <!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
    <script src="/js/plugins/jquery.dataTables.min.js"></script>
    <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
    <script src="/js/plugins/bootstrap-tagsinput.js"></script>
    <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="/js/plugins/jasny-bootstrap.min.js"></script>
    <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
    <script src="/js/plugins/fullcalendar/fullcalendar.min.js"></script>
    <script src="/js/plugins/fullcalendar/daygrid.min.js"></script>
    <script src="/js/plugins/fullcalendar/timegrid.min.js"></script>
    <script src="/js/plugins/fullcalendar/interaction.min.js"></script>
    <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
    <script src="~/js/plugins/jquery-jvectormap.js"></script>
    <!--  Plugin for the Bootstrap Table -->
    <script src="/js/plugins/nouislider.min.js"></script>
    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Chart JS -->
    <script src="/js/plugins/chartjs.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="/js/plugins/bootstrap-notify.js"></script>
    <!-- Control enter for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/js/paper-dashboard.min.js?v=2.1.1" type="text/javascript"></script><!-- Paper Dashboard DEMO methods, don't include it in your project! -->
    <script src="/demo/demo.js"></script>
    <script>
        $(document).ready(function () {
            demo.checkFullPageBackgroundImage();
        });
    </script>
</body>

</html>